amqp==5.0.1
asgiref==3.2.10
billiard==3.6.3.0
BlinkStick==1.1.8
celery==5.0.0
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
colour==0.1.5
Django==3.1.1
importlib-metadata==2.0.0
kombu==5.0.2
netifaces==0.10.9
numpy==1.19.0
prompt-toolkit==3.0.8
PyAudio==0.2.11
pytz==2020.1
pyusb==1.0.0b1
redis==3.5.3
six==1.15.0
sqlparse==0.3.1
uWSGI==2.0.19.1
vine==5.0.0
wcwidth==0.2.5
webcolors==1.11.1
zipp==3.3.1
